<!--The content below is only a placeholder and can be replaced.-->
<div class='panel panel-primary panelStyle'>
  <div class="background" style="text-align:center">
    <h1>
    </h1>
    <div *ngIf='newEntry==false && currentEntry==null'>
      <button class="btn btn-primary newEntry" (click)='onNewClicked()'>New Entry</button>
    </div>

  </div>

  <div *ngIf='newEntry==true && currentEntry==null' class="container newEntryContainer">
    <app-new-entry (Saved)="onSavedEntryCompleted($event)"></app-new-entry>
  </div>


  <div *ngIf='currentEntry!=null' class="container newEntryContainer">
    <app-existing-entry [entry]="currentEntry" (Saved)="onUpdatedEntryCompleted($event)"></app-existing-entry>
  </div>

  <div *ngIf='newEntry==false && currentEntry==null'>
    <div class='row'>
      <div class='col-md-1'></div>
      <div class='myListContainer col-md-4'>
        <ul>
          <div *ngFor='let entry of EntryService.entries'>
            <div class='myListEntry' (click)='onEntryClicked(entry)'>
              <div>Description: {{entry.description}}</div>
              <div>Location: {{entry.locationName}}</div>
              <img [src]='entry.photo' style="width:150px"/>
            </div>
          </div>
        </ul>
      </div>
      <div *ngIf='currentEntry!=null' class='entryContainer col-md-6'>
        {{currentEntry.description}}
        {{currentEntry.location}}
        {{currentEntry.photo}}
        <button class='btn btn-danger' (click)='onDeleteEntryClicked()'>Delete</button>
        <button class='btn btn-warning' (click)='onCancelClicked()'>Cancel</button>
      </div>
    </div>
  </div>
