<div class='camera-container'>
  <div class='camera-buttons'>
    <button *ngIf='photoTaken==true' class="btn btn-success" (click)="onSaveCameraClick()">Save</button>
    <button *ngIf='photoTaken==true' class="btn btn-warning" (click)="onRetakeClick()">Retake</button>
    <button *ngIf='photoTaken==false' class="btn btn-success" (click)="takePhotoClick()">Take photo</button>
    <button class="btn btn-warning" (click)="onCancelCameraClick()">Cancel</button>
  </div>

  <webcam class='camera' *ngIf='photoTaken==false'  (imageCapture)="handleImage($event)"
    [trigger]="triggerObservable"></webcam>
  <img *ngIf='photoTaken==true' [src]="cameraImage.imageAsDataUrl" />
</div>
