<button class='btn btn-success' (click)='onSaveClicked()'>
    Save</button>
<button class="btn btn-danger" (click)='onCancelClicked()'>
    Cancel
</button>
<button *ngIf='showCamera==false && showMap==false' class="btn btn-warning" (click)='onShowCameraClicked()'>Add photo</button>
<button *ngIf='showMap==false && showCamera==false' class="btn btn-warning" (click)='onShowMapClicked()'>Find me</button>
<div class="webcam">
    <div *ngIf='showCamera==true'>
        <app-camera (onCameraSaved)="onCameraSavedComplete($event)"></app-camera>
    </div>

    <div *ngIf='showMap==true'>
        <app-map (onLocationSaved)="onLocationSavedCompleted($event)"></app-map>
    </div>
</div>

<div>
    {{image}}
    {{location[0]}}
    {{location[1]}}
</div>

<div *ngIf='googleResult!=null'>
    Location:
    {{googleResult['results'][0]['address_components'][1]['long_name']}}, {{googleResult['results'][0]['address_components'][2]['long_name']}}
</div>