<button class='btn btn-success' (click)='onSaveClicked()'>
  Save</button>
<button class="btn btn-danger" (click)='onCancelClicked()'>
  Cancel
</button>

<div class='container'>
  <label class='label'>Description</label>
  <input [(ngModel)]='description' class='form-control' />
</div>

<div class='container'>
  <button *ngIf='showCamera==false && showMap==false' class="btn btn-warning" (click)='onShowCameraClicked()'>Add photo</button>
  <button *ngIf='showMap==false && showCamera==false' class="btn btn-warning" (click)='onShowMapClicked()'>Find me</button>
</div>

<div class='container'>
  <div class="webcam" *ngIf='showCamera==true'>
    <app-camera (CameraSaved)="onCameraSavedComplete($event)"></app-camera>
  </div>

  <div class="map" *ngIf='showMap==true'>
    <app-map (LocationSaved)="onLocationSavedCompleted($event)"></app-map>
  </div>
</div>

<div *ngIf="image!=''">
  <img [src]='image' style="width:150px"/>
</div>

<div *ngIf='googleResult!=null'>
  Location: {{googleResult}}
</div>
