.map{
    width:70%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.webcam{
    width:70%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}